body{
    background-color:#f4f7fc ;
     padding-top: 150px;
}



.menu{ 
    list-style-type: none;
    padding: 0;

}

.menu li{
    display: inline-block;
    margin-right: 20px;
}


.menu a {
    text-decoration: none;
    padding: 10px 16px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.etiqueta {
    background-color: #2b4740;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}




#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b4740;
    padding: 15px;
    z-index: 100;
}














































